{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        clj-gpui/clj-gpui {:git/url "https://github.com/violetpurpleish/clj-gpui.git"
                           :git/sha "9ba4bd77ac30900de61edd40ef55659ed28bd1ff"}}
 :aliases
 {:dev {:main-opts ["-m" "gpui.dev" "cljdu.app/app"]}
  :local-gpui {:override-deps
               {clj-gpui/clj-gpui {:local/root "../clj-gpui"}}}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "cljdu.test-runner"]}
  :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
           :main-opts ["-m" "cljfmt.main"]}
  :connect {:main-opts ["-m" "nrepl.cmdline"
                        "--connect"
                        "--host" "127.0.0.1"
                        "--port" "7888"]}
  :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default gpui.package
          :exec-fn gpui.package/package}}}
