{:name "cljdu"
 :version "0.1.0"
 :main cljdu.app/app
 :id "com.violetpurpleish.cljdu"
 :icon "resources/icon.png"
 :title "cljdu"
 :description "A native disk usage browser"
 :maintainer "violetpurpleish <violetpurpleish@proton.me>"}
